@use "./mixins" as m;

.main {
    margin-bottom: 3rem;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.for-tablet-only {
            flex-direction: column;
        }
    }
    &__content {
        margin-bottom: 4rem;
        @include m.for-tablet-only {
            text-align: center;
        }
        h1,
        h2 {
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            font-size: 4rem;
            font-weight: 700;
            line-height: 5rem;
            @include m.for-tablet-only {
                font-size: 2.5rem;
            }
        }
        h1 {
            background-color: #ff8177;
            background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
        }

        h2 {
            background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
            background-color: #ff8177;
        }

        p {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .main__btn {
            background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
            padding: 12px 15px;
            border-radius: 4px;
            position: relative;
            overflow: hidden;

            &:hover:after {
                scale: 1 1;
            }
            &:after {
                content: "";
                top: 0;
                left: 0;
                background: #4837ff;
                position: absolute;
                width: 100%;
                height: 100%;
                scale: 0 1;
                transition: scale 0.4s ease-in;
                transform-origin: left;
            }
            a {
                position: relative;
                display: inline-block;
                text-decoration: none;
                color: #fff;
                font-size: 17px;
                z-index: 2;
            }
        }
    }
    &__img--container {
        @include m.for-tablet-only {
            display: flex;
            justify-content: center;
        }
        img {
            width: 80%;
        }
    }
}
