@use "./mixins" as m;

.socials {
    margin-bottom: 5rem;
    &__container {
        max-width: 820px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m.for-laptop-only {
            flex-direction: column;
            & > *:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    &__logo {
        font-size: 2rem;
    }
    &__icons {
        ul {
            display: flex;
            gap: 1.2rem;
        }
        li {
            font-size: 1.5rem;
        }
        a {
            &:hover {
                i {
                    color: #f77062;
                }
            }
        }
        i {
            transition: all 0.2s ease-in;
        }
    }
}
